@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&family=Open+Sans:wght@300;500&family=Poppins:wght@400;600&family=Rubik:wght@400;500;700&family=Work+Sans&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: url(/imgs/bg-desktop.svg) no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    height: 100vh;
}
@media (max-width: 767px){
    .container{
        max-width: 375px;
    }
}
.wrapper{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0;
    margin: 0 2rem
}
.header{
    width: 190px;
    padding-bottom: 20px;
}

.main{
    display: flex;
    align-items: center;
    gap: 40px;
}
.hero-text h1{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}
.hero-text p{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    line-height: 1.8;
    margin-bottom: 30px;
    opacity: 0.8;
}
.hero-text a{
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    background-color: #fff;
    padding: 13px 50px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-shadow: 0 8px 17px -8px rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.hero-text a:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
}
.social{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 50px;
    right: 260px;
}
.social a{
    margin-left: 3rem;
}
.social a i{
    color: #fff;
    font-size: 18px;
    position: relative;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.social a i::after{
    content: "";
    position: absolute;
    height: 40px;
    width: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    left: -14px;
    bottom: -13px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.social a:hover i{
    color: hsl(300, 69%, 71%);
}
.social a i:hover::after{
    border-color: hsl(300, 69%, 71%);
}
@media only screen and (max-width: 1440px) {
    .hero-img img{
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .main{
        flex-direction: column;
        text-align: center;
    }
    .hero-text h1{
        font-size: 26px;
    }
    .social{
        text-align: center;
        margin-top: 50px;
        right: 140px;
    }
    .hero-text a{
        padding: 10px 70px;
    }
}